.usvform {
  background: #ffff;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.activeInteested {
  color: #ffff;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
  border: 0.75px #ececec solid;
  background-color: #0b7ab2;
}
#execDropdown {
  border: 0.75px #ececec solid;
  background-color: white;
  border-radius: 4px;
}
.inActiveInterested {
  border-radius: 4px;
  color: #6b6d81;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  padding: 5px;
  border: 0.75px #ececec solid;
}

.inActiveStatus {
  color: #727272;
  font-family: "Poppins";
  font-weight: 400;
  border: 0.75px #ececec solid;
  border-radius: 4px;
  font-size: 12px;
}
.activeStatus {
  color: white;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #0b7ab2;
  border-radius: 4px;
}

.custom-textArea ion-textarea {
  height: 80px;
  border-radius: 4px;
  border: 0.75px #ececec solid;
}
::ng-deep .custom-textArea .native-wrapper {
  padding: 8px;
}
.submitForm {
  margin-top: 20px;
}
.submitForm ion-col {
  margin-right: 16px;
}
.submitForm ion-button {
  text-transform: none;
  font-size: 12px;
  color: rgba(8, 8, 8, 0.93);
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}
.saveButton {
  text-transform: none;
  background: #ececec;
  color: #727272;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}

.activeSaveButton {
  text-transform: none;
  background: #0b7ab2;
  color: #ececec !important;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}

.projectname:first-child .custom-row {
  color: #008bfa;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  border-radius: 4px;
  word-wrap: break-word;
  align-items: center;
}

.cancelledProperty:first-child .margin-top-16 {
  background: #bbe1ff;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.cancelledProperty > ion-row {
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.cancelledProperty ion-row > ion-col:first-child {
  border-right: 0.5px solid #979797;
}

.cancelledProperty:first-child .margin-top-16 ion-col {
  padding: 10px;
}

.cancelledProperty > ion-row {
  background: #ffffff;
}

// .cancelledProperty ion-row > ion-col p{
//  color: red;
// }

.cancelledProperty ion-row > ion-col p {
  color: #002e52;
}

.input-with-image ion-input::after,
.input-with-image div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../../../assets/CRMimages/calendar-edit-outline.png")
    no-repeat center;
  background-size: contain;
}

.remark_css ion-row {
  padding: 5px;
}

.select-next-action {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.inactive {
  color: #6b6d81;
  font-weight: 500;
}

.priority-level > ion-row:first-child {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins";
}
.priority-level > ion-row:nth-child(2) ion-col {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins";
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin: 2px;
  padding: 4px;
}
.priority-level > ion-row:nth-child(2) ion-col ion-img {
  height: 16px;
  width: 16px;
  padding: 2px;
}
.priority-level {
  border: 1px solid #d9d9d9;
  padding: 5px;
  background: #ffffff;
  border-radius: 4px;
}

.activeHot {
  border: 0.8px solid #f2591f !important;
  color: #f2591f !important;
  background: #ffece4;
}
.activeWarm {
  border: 0.8px solid #f2841f !important;
  color: #f2841f;
  background: #ffeedf;
}
.activeCold {
  border: 0.8px solid #17c7ff !important;
  color: #17c7ff;
  background: #e8f9ff;
}

.usvform {
  background: #ffff;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.border_colorRed {
  border: 1px solid red;
  border-radius: 3px;
}
