.closedForm {
  background: #ffff;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.inActiveStatus,
.customRadio {
  color: #727272;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  border: 0.75px #ececec solid;
  border-radius: 4px;
  margin-right: 10px;
  height: 34px;
  text-transform: none;
  min-height: 36px;
}
.customRadio {
  --border-radius: 0; /* Set border-radius to 0 to remove rounded border */
  /* Add any additional styles specific to the ion-radio here */
}
::ng-deep .custom-textArea .native-wrapper {
  padding: 8px;
}
.custom-textArea ion-textarea {
  height: 80px;
  border-radius: 4px;
  border: 0.75px #ececec solid;
}
.saveButton {
  text-transform: none;
  background: #ececec;
  color: #727272;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}
.activeSaveButton {
  text-transform: none;
  background: #0b7ab2;
  color: #ececec !important;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}
.submitForm {
  margin-top: 20px;
}
.submitForm ion-col {
  margin-right: 16px;
}
.submitForm ion-button {
  text-transform: none;
  font-size: 12px;
  color: rgba(8, 8, 8, 0.93);
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px rgba(236, 236, 236, 0.93) solid;
}

.activeStatus {
  color: white !important;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  background-color: #0b7ab2;
  border-radius: 4px;
  margin-right: 10px;
  height: 34px !important;
  text-transform: none;
}
// .image-container {
//     position: relative;
//     width: 100%;
// }
// .image-container ion-img{
//     border: 5px solid #adadad;
// }
.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: white; /* Change color as needed */
  cursor: pointer;
  background-color: red;
}

.input-with-image ion-input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../../../assets/CRMimages/calendar-edit-outline.png")
    no-repeat center;
  background-size: contain;
}

.inputTime-with-image ion-input::after,
.inputTime-with-image div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../../../assets/CRMimages/clock-time-five-outline.png")
    no-repeat center;
  background-size: contain;
}

.date-input {
  position: relative;
  width: 100%;
  border: 1px #ececec solid;
  border-radius: 8px;
  background-color: white;
}

.date-input ion-input,
.date-input input {
  --placeholder-color: #black;
  color: #727272;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  --padding-start: 10px;
  min-height: 36px;
  padding-left: 5px;
}

ion-input {
  padding-left: 5px !important;
}
.leadCloseform {
  background: white;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.border_colorRed {
  border: 1px solid red;
  border-radius: 3px;
}
