@media (prefers-color-scheme: dark) {
  :host {
    // Enable dark mode only for this component
    --ion-background-color: #000 !important;
    --ion-text-color: #fff !important;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-item-background: #121212;
  }

  ion-content,
  ion-header {
    --background: #000 !important;
    background: #000 !important;
  }
  ion-card {
    --background: #1a1a1a !important;
    color: #fff !important;
  }

  .notification-heading {
    span:first-child {
      color: #f8f8f8;
    }
    .active {
      border-bottom: 2px solid #54bfee !important;
      span {
        color: #54bfee !important;
      }
      .notif-Assignedcount,
      .notif-Callcount,
      .notif-Chatcount {
        color: #fff !important;
      }
    }
    .notif-Assignedcount,
    .notif-Callcount,
    .notif-Chatcount {
      background: #008cc9;
      color: #fff !important;
    }
  }

  .commingSoon {
    height: 79vh;
    background: #222427;
  }
}

@media (prefers-color-scheme: light) {
  .active {
    border-bottom: 2px solid #1467a5 !important;
    color: #1467a5;
  }
  .notif-Assignedcount,
  .notif-Callcount,
  .notif-Chatcount {
    background: #003855;
  }
}

// @media (prefers-color-scheme: light) {
ion-card,
ion-item,
ion-list {
  --background: #1a1a1a !important;
  color: #fff !important;
}

.logo::part(image) {
  border-radius: 3px !important;
  height: 30px;
}
.notification-heading {
  ion-row {
    gap: 5px;
  }
  ion-col {
    font-size: 16px;
    font-family: "Poppins";
  }
  ion-col span:first-child {
    position: relative;
  }
  // }
  // .normal span {
  //   color: #f8f8f8;
  // }
  // .active {
  //   border-bottom: 2px solid #1467a5 !important;
  //   color: #1467a5 !important;
  // }
}

.notif-type {
  position: relative;
  width: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notif-Chatcount {
  position: absolute;
  top: -2px;
  left: 33px;
  font-size: 8px;
  padding: 2px 5px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  z-index: 2;
  line-height: 1.2;
  color: white;
}
.notif-Call {
  width: 99px;
}
.notif-Assigned {
  width: 99px;
}
.notif-Callcount {
  position: absolute;
  top: -1px;
  left: 79px;
  font-size: 8px;
  padding: 2px 5px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  z-index: 2;
  line-height: 1.2;
  color: white;
}
.notif-Assignedcount {
  position: absolute;
  top: -3px;
  right: 14px;
  font-size: 8px;
  padding: 2px 5px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  z-index: 2;
  line-height: 1.2;

  color: white;
}
.pointerEvent {
  opacity: 0.5;
  pointer-events: none;
}
// }
