.junkform{
    background: white;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

// .columnFlexDirection{
//     display: flex;
//     flex-direction: column;
// }
.inActiveStatus{
    color: #727272;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    border: 0.75px #ECECEC solid;
    border-radius: 50px;
    margin-right: 10px;
    height: 34px;
    text-transform: none;
}
::ng-deep .custom-textArea .native-wrapper {
    padding: 8px;
}
.custom-textArea ion-textarea{
    height:80px;
    border-radius: 4px;
    border: 0.75px #ECECEC solid;
}
.submitForm{
    margin-top:20px;
}
.submitForm ion-col{
    margin-right:16px;
}
.submitForm ion-button{
    text-transform: none;
    font-size: 12px;
    color: rgba(8, 8, 8, 0.93);
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    width:100%;
    height:42px;
    border-radius: 4px;
    border: 1px rgba(236, 236, 236, 0.93) solid;
}
.saveButton{
    text-transform: none;
    background: #ECECEC;
    color: #727272; 
    width:100%;
    height:42px; 
    border-radius: 4px; 
    border: 1px rgba(236, 236, 236, 0.93) solid;
}

.activeSaveButton{
    text-transform: none;
    background: #0B7AB2;
    color: #ECECEC !important; 
    width:100%;
    height:42px; 
    border-radius: 4px; 
    border: 1px rgba(236, 236, 236, 0.93) solid;
}
ion-searchbar {
    ::ng-deep{
    .searchbar-input-container {
        input{
            color: black !important;
            font-size: 12px !important;
            font-family: Poppins !important;
            font-weight: 400 !important;
            word-wrap: break-word !important;
        }
        .searchbar-input{ 
            border-radius: 7.50px;
        }
    }
}
}
.activeStatus{
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    background-color: #0B7AB2;
    border-radius: 50px;
    margin-right: 10px;
    height: 34px !important;
    text-transform: none;
}