// UPDATE CODE
.datefilter-div {
  margin: 10px 5px;
}
.datefilter-div ion-col {
  border-radius: 50px;
  background-color: white;
  font-size: 0.75rem !important;
}
.datefilter-div ion-icon {
  border-radius: 20px;
  font-size: 1.375rem;
  color: #515151;
  --ionicon-stroke-width: 14px;
}
.error-text {
  font-size: 0.875rem;
  font-family: "Poppins";
  color: red;
}
ion-datetime {
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
}

ion-datetime::part(calendar) {
  width: 100% !important;
  height: 100% !important;
}
.custom-datefilterIcon.active_btn {
  ion-icon {
    color: white;
  }
}
.total_card {
  border: 1px solid #02abff;
  background: #c3eaff;
  .text_color {
    color: #0b7ab2;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: #000000 !important;
  }
}
p {
  font-size: 0.714rem;
}
h2 {
  font-weight: 500;
  font-size: 1.15rem;
}
.icon-circle {
  ion-img {
    width: 30px;
  }
  display: flex;
  align-items: center;
  justify-content: end;
  ion-icon {
    font-size: 18px;
    color: #4da3ff;
  }
}

.scheduledVisits_card {
  background: linear-gradient(84.03deg, #ffffff 32.95%, #e5f6fe 104.6%);

  h2,
  .fw-light {
    color: #004e76;
  }
  .active-col {
    border-color: #02abff;
    background: #c3eaff;
  }
  border-color: #02abff;
}
.todayVisited_card {
  background: linear-gradient(84.03deg, #ffffff 32.95%, #d3ffc9 104.6%);

  h2,
  .fw-light {
    color: #004703;
  }
  .active-col {
    background: #eeffea;
    border-color: #38a03c;
  }
}

.upcomingVisits_card {
  background: linear-gradient(85.45deg, #ffffff 33.56%, #ffb884 150.9%);

  h2,
  .fw-light {
    color: #944004;
  }
  .active-col {
    background: #fff1e8;
    border-color: #e0772c;
  }
}

.opacity50 {
  opacity: 50%;
}

.active-card.scheduledVisits_card {
  border: 2px solid #02abff;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.active-card.todayVisited_card {
  border: 2px solid rgb(56, 160, 60);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 3.1px 0px;
}

.active-card.upcomingVisits_card {
  border: 2px solid #e0772c;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 3.1px 0px;
}

.border-left-right {
  border-radius: 4px 4px;
  border-left: 1px solid;
  border-right: 1px solid;
}
.topsec-border-right-bottom {
  border-radius: 0 0 4px 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.border-top-right {
  border-radius: 0 4px 0 0;
  border-top: 1px solid;
  border-right: 1px solid;
}
.border-top-left {
  border-radius: 4px 0 0 0;
  border-top: 1px solid;
  border-left: 1px solid;
}

.bottomsec-border-bottom-none {
  border-radius: 4px 4px 0 0;
  border: 1px solid;
  border-bottom: none;
}
.visits_card_img {
  position: absolute;
  right: 4px;
  top: 4px;
}

.latestRemark ion-label {
  color: #000000b5;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.latestRemark p {
  padding: 5px;
  color: black;
  font-family: Poppins;
  font-size: 9px;
}
.custom-ion-item {
  padding: 0;
  height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  --inner-item-padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-item-padding-bottom: 0;
  padding-right: 5px;
  padding-left: 4px;
  --inner-padding-end: 0;
}

::ng-deep ion-item ion-icon {
  font-size: 15px;
}

ion-item::part(native) {
  --inner-padding-end: 0 !important;
  --padding-start: 0 !important;
}

ion-modal.callConfirmationModal {
  padding: 10px;
  --height: 40%;
  --border-radius: 5px;
  --backdrop-opacity: 0.8;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.callConfirmationModal ion-header {
  font-family: "Poppins";
  box-shadow: none;
  ion-row {
    padding: 4px;
  }
  h3,
  ion-icon {
    font-size: 18px;
    color: #ffffff !important;
  }
  ion-icon {
    font-size: 30px;
  }
}

.callConfirmationModal ion-button {
  width: 100%;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 18px;
  text-transform: none;
}
.callConfirmationModal ion-footer {
  box-shadow: none;
}
.value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
}
.label {
  font-size: 0.68rem;
}
.custom-row {
  border-bottom: 1px solid rgba(100, 100, 111, 0.05);
  box-shadow: 1px -2px 7.3px 0px rgba(157, 126, 126, 0.2588235294);
}
.custom-col {
  padding: 5px;
  font-size: 14px;
  font-family: "Poppins";
  flex-shrink: 0;
  cursor: pointer;
}
.highlightedprop-text {
  background: linear-gradient(180deg, #ffffff 0%, #d3ebff 100%);
  border: none !important;
  border-bottom: 1px solid #1366a5 !important;
  color: #1365a4;
  font-weight: 400;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-family: "Poppins";
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  color: #0b7ab2;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper {
  width: 100% !important;
  border: 0.5px #0b7ab2 solid;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}
::ng-deep
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
  color: #0b7ab2;
}
::ng-deep .exec_css .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}
.sourcedropdown {
  margin-left: 2px;
}
ion-modal.dashboard_custDate_modal::part(content) {
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.calendar-modal {
  background: white;
}
ion-modal {
  --backdrop-opacity: 2.9;
  // --height: auto;
}

.date-range-wrapper {
  padding: 20px 10px;
}
.date-inputs {
  display: flex;
  gap: 12px;
}

.confirm-btn {
  --border-radius: 24px;
  --background: #0b7ab2;
  min-height: 5px !important;
  width: 100%;
  padding: 0 10px;
}

::ng-deep.confirm-btn::part(native) {
  padding: 12px;
}
.filterButtons {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: none;
  height: 35px;
  margin-bottom: 0;

  color: #0b7ab2;
}

ion-button::part(native) {
  border: 1px solid #0b7ab2;
}

.card-row {
  ion-col {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }
}
ion-modal.addPriorityModal {
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}

ion-modal.addPriorityModal::part(backdrop) {
  background: rgb(43 44 45);
  opacity: 0.9 !important;
}

ion-modal.addPriorityModal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.priority-data-row {
  gap: 2px;
  ion-col {
    border: 2px solid lightgrey;
    color: #808080;
    font-size: 0.9rem;
    padding: 2px;
  }
}

.update-btn-row {
  span {
    color: white;
    background-color: #0b7ab2 !important;
    border-color: #0b7ab2 !important;
    padding: 2px 5px;
    border-radius: 2px;
  }
}
.priority {
  span,
  div {
    font-size: 0.7rem;
    font-family: "Poppins";
  }
  ion-img {
    padding-left: 2px;
  }
}
.hot_txt {
  background: #ffe2d7;
  border: 0.6px solid #f2591f;
  width: fit-content;
  color: #f2591f;
  border-radius: 20px;
  padding: 2px 8px;
}
.warm_txt {
  background: #fff5d4 !important;
  border: 0.6px solid #f5bd00 !important;
  width: fit-content;
  color: #f5bd00;
  border-radius: 20px;
  padding: 2px 8px;
}
.cold_txt {
  background: #e4f6ff;
  border: 0.6px solid #008cd2;
  width: fit-content;
  color: #008cd2;
  border-radius: 20px;
  padding: 2px 8px;
}
.addPriority {
  display: flex;
  align-items: center;
  color: #960035 !important;
  font-weight: 0.8rem;
  ion-icon {
    color: #960035;
  }
}

::ng-deep .addPriorityModal .ion-delegate-host {
  padding: 4px;
}
.assignies-row {
  background: #3498db;
  .assignies-col {
    background: #006ab1;
    color: white;
    border-radius: 4px;

    line-height: 1.3;
    display: flex;
    flex-direction: column;
    padding: 2px 6px;
    .name {
      font-size: 0.8rem;
      font-weight: 500;
    }
    .assign-date {
      font-size: 0.58rem;
      font-weight: 300;
    }
  }
}

.call-icon,
.whatsapp-icon,
.play_icon,
.info-icon {
  ion-img {
    width: 20px;
  }
}
.latest_remark_col {
  background: #546d7e;
  border-radius: 0 4px 4px 4px;
  span {
    color: white;
    font-size: 0.9rem;
  }
}
.pointer_eventsNone {
  filter: blur(0.8px);
  pointer-events: none;
  cursor: none;
}

.divider-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.latest-remark-popover::part(content) {
  width: auto;
}

.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}
.assign-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(52, 152, 219);
  border-radius: 48px;
  span {
    color: #3498db;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.18rem;
    font-weight: 500;
  }
}
.assignies-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4px;
  flex-wrap: wrap; /* responsive wrap */
}

.assignies-col {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* width based on text */
}

.divider-col {
  display: flex;
  align-items: center;
}

.horizontal-line {
  width: 20px;
  height: 1px;
  background: #c4c4c4;
}

.assign-count {
  font-weight: 600;
  white-space: nowrap;
  width: 1.5rem;
  height: 1.5rem;
}
.assignto-text {
  background: white;
  color: #006ab1;
  border-radius: 0 4px 4px 0;
  padding: 0 2px;
  font-size: 0.8rem;
}
.assigned-exec-count::part(content) {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

::ng-deep .assigned-exec-count .popover-viewport {
  display: flex;
  align-items: center;
  padding: 10px 5px 3px;
}
.assigned-exe-col {
  border: 0.4px solid #1f79a7;
  background: #dbf3ff;
  border-radius: 4px;
  padding: 0 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #00334c;
}
.virtical-line {
  width: 1px;
  height: 10px;
  background: #0a0a0a;
}
.name {
  font-size: 0.8rem;
}
.assignies-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4px;
  flex-wrap: wrap; /* responsive wrap */
}
.assignto-text {
  background: white;
  color: #006ab1;
  border-radius: 0 4px 4px 0;
  padding: 0 2px;
  font-size: 0.8rem;
}
.assignies-col {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* width based on text */
}
.label {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 0.714rem;
}

.edit_priority {
  margin-bottom: 0.25rem;
  background: #2196f3;
  color: white;
  border-radius: 30px;
  padding: 3px;
  font-size: 10px;
  margin-left: 4px;
}
