// UPDATE CODE
.datefilter-div {
  margin: 10px 5px;
}
.datefilter-div ion-col {
  border-radius: 50px;
  background-color: white;
  font-size: 0.75rem !important;
}
.datefilter-div ion-icon {
  border-radius: 20px;
  font-size: 1.375rem;
  color: #515151;
  --ionicon-stroke-width: 14px;
}
.error-text {
  font-size: 0.875rem;
  font-family: "Poppins";
  color: red;
}
ion-datetime {
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
}

ion-datetime::part(calendar) {
  width: 100% !important;
  height: 100% !important;
}
.custom-datefilterIcon.active_btn {
  ion-icon {
    color: white;
  }
}
.total_card {
  border: 1px solid #02abff;
  background: #c3eaff;
  .text_color {
    color: #0b7ab2;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  font-size: 0.714rem;
}
h2 {
  font-weight: 500;
  font-size: 1.15rem;
}
.icon-circle {
  ion-img {
    width: 30px;
  }
  ion-icon {
    font-size: 18px;
    color: #4da3ff;
  }
}

.fixed_card {
  background: linear-gradient(84.03deg, #ffffff 32.95%, #e5f6fe 104.6%);
  border: 2px solid #ffffff !important;
  h2 {
    color: #004e76;
  }
  .active-col {
    background: #c3eaff;
    border-color: #02abff;
  }
}
.done_card {
  background: linear-gradient(84.03deg, #ffffff 32.95%, #d3ffc9 104.6%);
  border: 2px solid #ffffff !important;
  h2 {
    color: #38a03c;
  }
  .active-col {
    background: #cdf3c5;
    border-color: #38a03c;
  }
}
.overdue_card {
  background: linear-gradient(86.98deg, #ffffff 47.96%, #ffeced 113.29%);
  border: 2px solid #ffffff !important;
  h2 {
    color: #981f21;
  }
  .active-col {
    background: #ffc7c8;
    border-color: #981f21;
  }
}
.junk_card {
  background: linear-gradient(90deg, #ffffff 55.23%, #dbd8ff 224.32%);
  border: 2px solid #ffffff !important;
  h2 {
    color: #0f0084;
  }
  .active-col {
    background: #d8d3ff;
    border-color: #8576ff;
  }
}

.opacity50 {
  opacity: 50%;
}

.active-card.fixed_card {
  border: 2px #0b7ab2 solid !important;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.active-card.done_card {
  border: 2px solid #38a03c !important;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}

.active-card.overdue_card {
  border: 2px solid #981f21 !important;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.active-card.junk_card {
  border: 2px solid #8576ff !important;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.border-top-right {
  border-radius: 0 4px 0 0;
  border-top: 1px solid;
  border-right: 1px solid;
}
.border-top-left {
  border-radius: 4px 0 0 0;
  border-top: 1px solid;
  border-left: 1px solid;
}
.active-card.border-left-right-none {
  border-right: none !important;
  border-left: none !important;
}
.visits_card_img {
  position: absolute;
  right: 4px;
  top: 4px;
}

.latestRemark ion-label {
  color: #000000b5;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.latestRemark p {
  padding: 5px;
  color: black;
  font-family: Poppins;
  font-size: 9px;
}
.custom-ion-item {
  padding: 0;
  height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  --inner-item-padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-item-padding-bottom: 0;
  padding-right: 5px;
  padding-left: 4px;
  --inner-padding-end: 0;
}

::ng-deep ion-item ion-icon {
  font-size: 15px;
}

ion-item::part(native) {
  --inner-padding-end: 0 !important;
  --padding-start: 0 !important;
}

ion-modal.callConfirmationModal {
  padding: 10px;
  --height: 40%;
  --border-radius: 5px;
  --backdrop-opacity: 0.8;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.callConfirmationModal ion-header {
  font-family: "Poppins";
  box-shadow: none;
  ion-row {
    padding: 4px;
  }
  h3,
  ion-icon {
    font-size: 18px;
    color: #ffffff !important;
  }
  ion-icon {
    font-size: 30px;
  }
}

.callConfirmationModal ion-button {
  width: 100%;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 18px;
  text-transform: none;
}
.callConfirmationModal ion-footer {
  box-shadow: none;
}
.value {
  color: rgba(0, 0, 0, 0.8);
}
.custom-row {
  border-bottom: 1px solid rgba(100, 100, 111, 0.05);
  box-shadow: 1px -2px 7.3px 0px rgba(157, 126, 126, 0.2588235294);
}
.custom-col {
  padding: 5px;
  font-size: 14px;
  font-family: "Poppins";
  flex-shrink: 0;
  cursor: pointer;
}
.highlightedprop-text {
  background: linear-gradient(180deg, #ffffff 0%, #d3ebff 100%);
  border: none !important;
  border-bottom: 1px solid #1366a5 !important;
  color: #1365a4;
  font-weight: 400;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-family: "Poppins";
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  color: #0b7ab2;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper {
  width: 100% !important;
  border: 0.5px #0b7ab2 solid;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}
::ng-deep
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
  color: #0b7ab2;
}
::ng-deep .exec_css .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}
.sourcedropdown {
  margin-left: 2px;
}
ion-modal.dashboard_custDate_modal::part(content) {
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.calendar-modal {
  background: white;
}
ion-modal {
  --backdrop-opacity: 2.9;
  // --height: auto;
}

.date-range-wrapper {
  padding: 20px 10px;
}
.date-inputs {
  display: flex;
  gap: 12px;
}

.date-box {
  flex: 1;
  background: #f6f9fc;
  border-radius: 8px;
  padding: 10px;
}

.date-box label {
  font-size: 12px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 4px;
}

.date-box span {
  font-size: 14px;
  color: #000;
}

.confirm-btn {
  --border-radius: 24px;
  --background: #0b7ab2;
  min-height: 5px !important;
  width: 100%;
  padding: 0 10px;
}

::ng-deep.confirm-btn::part(native) {
  padding: 12px;
}
.filterButtons {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: none;
  height: 35px;
  margin-bottom: 0;

  color: #0b7ab2;
}

ion-button::part(native) {
  border: 1px solid #0b7ab2;
}
.firstRecivedDate {
  font-size: 0.517rem;
  font-style: italic;
  border-top: 1px solid #8a8a8a;
}
.lead_date_btn {
  color: #5b6a83;
  span {
    font-size: 0.8rem;
  }
}
.stage-dashboard-heading {
  border: 0.5px solid #e6e6e6;
  border-radius: 20px;
  padding: 2px !important;
  ion-col {
    border-radius: 30px;
    padding: 2px 0 !important;
  }
}
ion-modal.addPriorityModal {
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}

ion-modal.addPriorityModal::part(backdrop) {
  background: rgb(43 44 45);
  opacity: 1;
}

ion-modal.addPriorityModal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.hot_txt {
  background: #ffe2d7;
  border-top: 0.6px solid #f2591f;
  border-bottom: 0.6px solid #f2591f;
  span {
    color: #f2591f;
  }
}
.warm_txt {
  background: #fff5d4;
  border-top: 0.6px solid #f5bd00;
  border-bottom: 0.6px solid #f5bd00;
  span {
    color: #f5bd00;
  }
}
.cold_txt {
  background: #e4f6ff;
  border-top: 0.6px solid #008cd2;
  border-bottom: 0.6px solid #008cd2;
  span {
    color: #008cd2;
  }
}
.set_priority {
  background: #d9d9d9;
  border: 0.6px solid #aeb7bb;
  span {
    color: #4a4c4d;
  }
}
.priority {
  span,
  div {
    font-size: 0.89rem;
    font-family: "Poppins";
  }
  ion-img {
    padding-left: 2px;
  }
}
.addPriority {
  display: flex;
  align-items: center;
  justify-content: center;
}
.priority-data-row {
  gap: 2px;
  ion-col {
    border: 2px solid lightgrey;
    color: #808080;
    font-size: 0.9rem;
    padding: 2px;
  }
}

.update-btn-row {
  span {
    color: white;
    background-color: #0b7ab2 !important;
    border-color: #0b7ab2 !important;
    padding: 2px 5px;
    border-radius: 2px;
  }
}

::ng-deep ion-modal.addPriorityModal .ion-delegate-host {
  padding: 6px;
}
