.backButton{
    width: 20px;
    height: 20px;
    color: rgba(8, 8, 8, 0.40);
}
  
.like-button {
    color: #34B53A;
    font-size: 13px;
    padding-left: 5px;
    background-color: rgba(52, 181, 58, 0.05);
    padding: 3px;
    border-radius: 2px;
}

.not-interested-icon{
    color:#EF3826;
    font-size: 13px;
    padding-left: 5px;
    background-color: rgba(239, 56, 38, 0.05);
    padding: 3px;
    border-radius: 2px;
}
   
.visit-not-updated{
    color: #0B7AB2;
    background-color: rgb(151, 27, 71, 0.09);
    font-size: 13px;
    border-radius: 2px;
}
 
.custom-column-heading{
    color: black;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    opacity: 0.50;
    margin: 0;
}
  
.custom-column-data{
    color: black;
    font-size: 11px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0.75;
}

.custom-column-data p{
    margin:0
}

.last-update-date{
    color: #0B7AB2;
    font-size: 11px;
    font-family: Poppins;
}

ion-footer{
    height: 55px;
}

.footer-toolbar{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    --min-height:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -8px 10px rgb(0 0 0 / 0.2);
}
  
.footer-icons {
    position: relative;
    background-color: #ffffff;
}

.reminderHeading{
    border-bottom:1px solid #ECECEC;
    height: 34px;
    background-color: #ffff;
}
.bgColor{
    background-color: #0B7AB2;
    color: #fff;
}
.custom-text, .highlight-text{
    color: black;
}
.custom-row-style{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius:0 !important; 
}

.edit-reminder{
    --height: 20%;
    --border-radius: 4px;
    padding: 0 15px 0 15px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
.edit-reminder::part(backdrop) {
    background: rgba(0, 0, 0,2);
    opacity: 1;
}
  
.edit-reminder ion-toolbar {
    --background: #ffff;
    --min-height: 34px;
}

.edit-date, .cancel-reminder{
    --height: 70%;
    --border-radius: 4px;
    padding: 0 15px 0 15px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.edit-date-time {
    --height: 55%;
    --border-radius: 4px;
}

.edit-date::part(backdrop) ,.cancel-reminder::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
  
.edit-date ion-toolbar {
    --background: #ffff;
    --min-height: 34px;
}

.reschedulereminder{
    background-color: rgb(253, 126, 20,0.22);
    height: 44px;
    display: flex;
    align-items: center;
}
.cancelReminder{
    height: 44px;
    background-color: rgb(239, 59, 41,0.22);
    display: flex;
    align-items: center;
}
.cancelReminder ion-col{
    color: rgb(239, 59, 41);
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.reschedulereminder ion-col{
    color: rgb(253, 126, 20);
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.cancelReminder ion-img, .reschedulereminder ion-img{
    padding-right: 5px;
    
}

.custom-icon {
    color: #009045;
}

ion-datetime{
    --ion-color-base: #0B7AB2 !important;
}

.radio-group-right {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size:12px;
    font-family: 'Poppins';
}

.radio-group-right  ion-radio {
    padding-bottom: 10px;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;    
}

.keep-reminder{
    border: 1px solid #0B7AB2;
    text-transform: none;
    border-radius: 4px;
    height: 32px;
    color: #0B7AB2;
}

ion-textarea{
    --padding-top:5px;
    --padding-start:5px;
}

::ng-deep .swal2-close {
    border: none !important;
  }

::ng-deep div:where(.swal2-container) .swal2-html-container{
    margin: 0em 2.6em .3em  !important;
}

.orangeBgColor{
    background:linear-gradient(  to right,#FF8787 0%,#FF8787 50%,#FF8787 57%, #FF8787 71%,#FF8787 100%);
}

.otherResonCSS{
    display: flex;
}
