* {
  font-family: "Poppins";
}

.switch_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: linear-gradient(180deg, #2196f3 0%, #0b7ab2 100%);
  border-radius: 0.125rem;
  padding: 0.3rem 0.4rem;

  span {
    font-weight: 500;
    font-size: 0.95rem;
    color: #ffffff;
    white-space: nowrap;
  }

  ion-img {
    width: 1.5rem;
    height: auto;
  }
}

.exec_acc_switch {
  border: 0.6px solid #e6e6e6;
}

.name {
  font-weight: 400;
  font-size: 1rem;
}

.role {
  font-weight: 300;
  font-size: 0.75rem;
}

.switch_header {
  font-weight: 300;
  font-size: 0.75rem;
  color: #767676;
}

.name_role {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}

.warning_text {
  font-weight: 300;
  font-size: 0.875rem;
}

ion-modal.switchAccountModal {
  --width: 90vw;
  --min-width: 250px;
  --height: auto;
  --border-radius: 0.375rem;
  --box-shadow: 0 1.75rem 3rem rgba(0, 0, 0, 0.4);
  padding: 0.625rem;

  ion-header {
    background: #e8f7ff;

    span {
      color: #004b71;
      font-size: 1rem;
    }
  }

  ion-footer {
    padding: 0.375rem;

    .switch_btn {
      background: linear-gradient(180deg, #2196f3 0%, #0b7ab2 100%);
    }

    .close_btn {
      border: 1px solid #1283c7;
      color: #1a8dde;
      border-radius: 0.125rem;
      padding: 0.25rem 0.5rem;
    }
  }
}

.close-confirm-btn {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}
