.lead-info {
  box-shadow: 1px 2px 10px 0 rgb(99, 99, 99, 0.2);
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin: 10px;
}
.info-row-value {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 10px;
  color: rgb(0, 0, 0, 0.8);
}
.info-row-value ion-col {
  padding-top: 0;
}
.info-row-heading {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10px;
  color: rgb(0, 0, 0, 0.6);
}
.info-row-heading ion-col {
  padding-bottom: 0;
  padding-right: 0;
}
.call_whatsApp_icon {
  display: flex !important;
  align-items: end !important;
  justify-content: end !important;
}
.stage_scetion div {
  font-size: 12px;
  font-family: "Poppins";
  padding: 5px;
}
.stage_scetion {
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  padding: 10px 5px;
}
// footer CSS
.footer-toolbar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  --min-height: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -8px 10px rgb(0 0 0 / 0.2);
}
.footer-icons {
  position: relative;
  background-color: #ffffff;
}

.ion-filter-icon ion-img {
  float: right;
  height: 40px;
}
.header_footerHeight {
  height: 45px;
}

.borderBottom_background {
  border-bottom: 0.5px solid #ececec;
}
.borderBottom_background span {
  font-size: 12px;
  font-family: "Poppins";
}
// divider section
.split-layout {
  display: flex;
  align-items: stretch;
  height: 100%; /* Ensure the content takes up the entire height */
}
.left-column {
  flex: 2.5; /* Left column takes 1/4th of the space */
  max-width: 41%; /* Set maximum width for left column */
}

.right-column {
  flex: 3; /* Right column takes 3/4th of the space */
}
.divider {
  width: 1px; /* Width of the divider line */
  background-color: #ccc;
}
.property div {
  padding: 5px 0 0 5px;
}
.radio-group-right ion-radio {
  padding-bottom: 5px;
}
.radio-group-right {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  font-size: 12px;
  font-family: "Poppins";
}
.filterButtons {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: none;
  height: 35px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
//date style
.input-with-image {
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.input-with-image ion-input {
  padding-right: 30px;
  background: #ffff;
}

.input-with-image ion-input {
  opacity: 0.5;
  --placeholder-color: #black;
  color: black;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  --padding-start: 10px;
  border: 1px solid #ececec;
  border-radius: 10px;
}

.input-with-image ion-input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../../../assets/CRMimages/calendar-edit-outline.png")
    no-repeat center;
  background-size: contain;
}

.positionTop {
  position: absolute;
  top: 113px;
}
.positionTop72 {
  position: relative;
  top: 72px;
}
.positionTop35 {
  position: relative;
  top: 35px;
}
.marginTop {
  margin-top: 80px;
}
.usvPositioTop {
  position: absolute;
  top: 77px;
}
.backgroundLightColor {
  background-color: rgb(11, 122, 178, 0.1);
}
.backgroundLightColor span {
  color: #0b7ab2 !important;
}
.showresultButton {
  background: #0b7ab2;
  color: white;
  width: 70%;
  border-radius: 10px;
  text-transform: none;
  font-size: 16px;
  font-family: "Poppins";
}

.filteredChips ion-button {
  color: #0b7ab2;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  border: 0.5px #0b7ab2 solid;
  border-radius: 4px;
  height: 26px;
  min-height: 26px;
}

.latest-remark {
  border-top: 0.75px #ececec solid;
}
.latest-remark > ion-row:first-child {
  color: black;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
}
.latestRemark {
  background: #f4f5f8;
}
.latestRemark ion-label {
  color: #000000b5;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.latestRemark p {
  padding: 5px;
  color: black;
  font-family: Poppins;
  font-size: 9px;
}
.custom-ion-item {
  --inner-item-padding-top: 0;
  height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;
  --inner-item-padding-bottom: 0;
  padding-right: 5px;
  padding-left: 4px;
  --inner-padding-end: 0;
}
::ng-deep ion-icon.ion-accordion-toggle-icon.md.hydrated {
  width: 15px;
}

ion-item::part(native) {
  --inner-padding-end: 0 !important;
  padding: 0;
  .item-inner {
    border: none !important;
  }
}

::ng-deep .item-native .item-inner {
  border: none;
}

.rightBorder {
  border-right: 1px solid #bebebe;
  border-radius: 30px;
  background: #0b7ab2;
  color: #ffff !important;
  font-family: "Poppins";
}
.leftBorder {
  border-left: 1px solid #bebebe;
  border-radius: 30px;
  background: #0b7ab2;
  color: #ffff !important;
  font-family: "Poppins";
}

.activestatusCss {
  border-radius: 30px;
  width: 100%;
  border: 1px solid #bebebe;
  ion-col span {
    font-size: 16px;
    font-family: "Poppins";
  }
}
ion-footer {
  height: 55px;
}
.activeHtype {
  border: 1px solid white;
  border-radius: 25px;
  background: #0b7ab2;
  color: white;
}
.retailMandate {
  border: 1px solid #0b7ab2;
  border-radius: 25px;
  // background: #0B7AB2;
  color: #0b7ab2;
}

.menu_icon {
  font-size: 30px;
  color: #0b7ab2;
}

.pointer_eventsNone {
  filter: blur(0.8px);
  pointer-events: none;
  cursor: none;
}

.date_range {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px 4px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.date_range span {
  color: #8a8a8a;
  font-size: 3.4vw;
  font-family: "Poppins";
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}

.date_range.border_color_red {
  border: 1px solid red !important;
  span {
    color: red !important;
  }
}
ion-modal.callConfirmationModal {
  padding: 10px;
  --height: 38%;
  --border-radius: 5px;
  --backdrop-opacity: 0.8;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.callConfirmationModal ion-header {
  font-family: "Poppins";
  box-shadow: none;
  ion-row {
    padding: 4px;
  }
  h3,
  ion-icon {
    font-size: 18px;
    color: #ffffff !important;
  }
  ion-icon {
    font-size: 30px;
  }
}

.callConfirmationModal ion-button {
  width: 100%;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 18px;
  text-transform: none;
}
.callConfirmationModal ion-footer {
  box-shadow: none;
}

.datefilter-div {
  ion-row {
    gap: 5px;
  }
  ion-col {
    font-size: 12px;
    border-radius: 4px;
  }
  ion-icon {
    font-size: 16px;
    color: #0b7ab2;
  }
}

.filterIcon label {
  background: #ececec;
  width: 20px;
  border-radius: 8px;
  opacity: 0.4;
}

::ng-deep p-calendar input {
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

::ng-deep .p-datepicker {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}
p-calendar {
  display: none !important;
}
.to-date-calendar,
.from-date-calendar {
  ion-img {
    width: 20px;
  }
  .calendar-div {
    border: 1px solid rgb(73 73 77 / 30%);
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    font-family: "Poppins";
  }
}
.isBeforeselectingDate {
  color: #b8b9ba;
  font-weight: 100;
}
ion-modal::part(content) {
  // border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.calendar-modal {
  background: white;
}

ion-modal {
  --backdrop-opacity: 1.4;
  // --height: auto;
}

.date-range-wrapper {
  padding: 20px 10px;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.date-inputs {
  display: flex;
  gap: 12px;
}

.date-box {
  flex: 1;
  background: #f6f9fc;
  border-radius: 8px;
  padding: 10px;
}

.date-box label {
  font-size: 12px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 4px;
}

.date-box span {
  font-size: 14px;
  color: #000;
}

.confirm-btn {
  --border-radius: 24px;
  --background: #0b7ab2;
  min-height: 5px !important;
  width: 100%;
  padding: 0 10px;
}

::ng-deep.confirm-btn::part(native) {
  padding: 12px;
}
.error-text {
  font-size: 12px;
  font-family: "Poppins";
  color: red;
}

ion-datetime {
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
}

ion-datetime::part(calendar) {
  width: 100% !important;
  height: 100% !important;
}

.assigned-title {
  background: #558fa8;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 4px;
}
.not-assigned-title {
  background: #ffd7c7;
  color: #9d2728;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0%;
  padding: 4px;
}

.assigned-col div {
  border-bottom: 0.6px solid #8dcbe6;
  background: #fbfdff;
  padding-left: 4px;
}
.assigned-col {
  span {
    color: #005579;
  }
  p {
    color: #00293b;
  }
}

.assigned-col,
.not-assigned-col,
.untouched-div {
  span {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.66rem;
  }
  p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 0.8rem;
  }
}
.not-assigned-col {
  .not-assigned-right-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    div {
      border-bottom: 1px solid #ffd8c9;
      background: #fff8f6;
      padding-left: 2px;
    }
  }
  .not-assigned-left-div {
    border-left: 1px solid #ffd8c9;
    border-right: 1px solid #ffd8c9;
    div {
      border-bottom: 1px solid #ffd8c9;
      background: #fff8f6;
      padding-left: 4px;
    }
  }
  span {
    color: #9d2728;
  }
  p {
    color: #620001;
  }
}
.header {
  span {
    border-radius: 4px 4px 0 0;
    font-size: 0.8rem;
  }
}
// .name {
//   background: #d4ecff;
//   color: #004b71;
//   padding: 4px;
// }

.untouched-title {
  background: #fff1c8;
  color: #624a00;
  font-size: 0.68rem;
}
.unto-item {
  font-family: "Poppins";
  font-weight: 400;
  font-style: Regular;
  font-size: 0.68rem;
}
.untouched-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span,
  p {
    color: #503c00;
  }
}
.untouched-row {
  ion-col {
    border-right: 1px solid #fff1c8;
  }
}
.assignies-row {
  background: #3498db;
  .assignies-col {
    background: #006ab1;
    color: white;
    border-radius: 4px;

    line-height: 1.3;
    display: flex;
    flex-direction: column;
    padding: 2px 6px;
    .name {
      font-size: 0.8rem;
      font-weight: 500;
    }
    .assign-date {
      font-size: 0.58rem;
      font-weight: 300;
    }
  }
}
.name {
  font-size: 0.8rem;
}

.call-icon,
.whatsapp-icon,
.play_icon,
.info-icon {
  ion-img {
    width: 20px;
  }
}
.latest_remark_col {
  background: #546d7e;
  border-radius: 0 4px 4px 4px;
  span {
    color: white;
    font-size: 0.9rem;
  }
}
.pointer_eventsNone {
  filter: blur(0.8px);
  pointer-events: none;
  cursor: none;
}

.divider-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-remark-popover::part(content) {
  width: auto;
}
.assigned-exec-count::part(content) {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

::ng-deep .assigned-exec-count .popover-viewport {
  display: flex;
  align-items: center;
  padding: 10px 5px 3px;
}
.assigned-exe-col {
  border: 0.4px solid #1f79a7;
  background: #dbf3ff;
  border-radius: 4px;
  padding: 0 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #00334c;
}
.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}
.assign-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(52, 152, 219);
  border-radius: 48px;
  span {
    color: #3498db;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
.assignies-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4px;
  flex-wrap: wrap; /* responsive wrap */
}

.assignies-col {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* width based on text */
}

.divider-col {
  display: flex;
  align-items: center;
}

.horizontal-line {
  width: 20px;
  height: 1px;
  background: #c4c4c4;
}

.virtical-line {
  width: 1px;
  height: 10px;
  background: #0a0a0a;
}
.assign-count {
  font-weight: 600;
  white-space: nowrap;
  width: 1.5rem;
  height: 1.5rem;
}

.assignto-text {
  background: white;
  color: #006ab1;
  border-radius: 0 4px 4px 0;
  padding: 0 2px;
  font-size: 0.8rem;
}
.card-count {
  position: absolute;
  right: 10px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}

.latest-remark-popover {
  p {
    font-size: 0.714rem;
  }
}
ion-modal.addPriorityModal {
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}

ion-modal.addPriorityModal::part(backdrop) {
  background: rgb(43 44 45);
  opacity: 0.9 !important;
}

ion-modal.addPriorityModal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.priority-data-row {
  gap: 2px;
  ion-col {
    border: 2px solid lightgrey;
    color: #808080;
    font-size: 0.9rem;
    padding: 2px;
  }
}

.update-btn-row {
  span {
    color: white;
    background-color: #0b7ab2 !important;
    border-color: #0b7ab2 !important;
    padding: 2px 5px;
    border-radius: 2px;
  }
}
.priority {
  span,
  div {
    font-size: 0.7rem;
    font-family: "Poppins";
  }
  ion-img {
    padding-left: 2px;
  }
  display: flex;
  flex-direction: column;
}
.hot_txt {
  background: #ffe2d7;
  border: 0.6px solid #f2591f;
  width: fit-content;
  color: #f2591f;
  border-radius: 20px;
  padding: 2px 8px;
}
.warm_txt {
  background: #fff5d4 !important;
  border: 0.6px solid #f5bd00 !important;
  width: fit-content;
  color: #f5bd00;
  border-radius: 20px;
  padding: 2px 8px;
}
.cold_txt {
  background: #e4f6ff;
  border: 0.6px solid #008cd2;
  width: fit-content;
  color: #008cd2;
  border-radius: 20px;
  padding: 2px 8px;
}
.addPriority {
  display: flex;
  align-items: center;
  color: #960035 !important;
  font-weight: 0.8rem;
  ion-icon {
    color: #960035;
  }
}

::ng-deep .addPriorityModal .ion-delegate-host {
  padding: 4px;
}
.label {
  color: black;
}
.card-count {
  position: absolute;
  right: 10px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}
