.textBorderColor{
    color:#0B7AB2;
    border: 1px solid #0B7AB2;
    border-radius: 30px;
}
.custom-col {
    padding: 5px;
    font-size: 12px;
    font-family: 'Poppins';
    border-radius: 30px;
    flex-shrink: 0;
    cursor: pointer;
}
.center-text {
    text-align: center;
}
.custom-row div{
    padding: 5px;
}
.info-row-heading{
    font-family: 'Poppins';
    font-weight:400;
    font-size:10px;
    color: rgb(0,0,0,0.6);
}
.info-row-heading ion-col{
    padding-bottom: 0;
    padding-right: 0;
}
.info-row-value{
    font-family: 'Poppins';
    font-weight:500;
    font-size:10px;   
    color: rgb(0,0,0,0.8);
}
.info-row-value ion-col{
    padding-top: 0;
}  
.lead-info{
    box-shadow: 1px 2px 10px 0 rgb(99, 99, 99,0.2);
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin: 10px;
} 

// footer CSS
.footer-toolbar{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    --min-height:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -8px 10px rgb(0 0 0 / 0.2);
}
.footer-icons {
    position: relative;
    background-color: #ffffff;
}

.showresultButton{
    background: #0B7AB2;
    color: white;
    width: 70%;
    border-radius: 10px;
    text-transform: none;
    font-size: 16px;
    font-family: 'Poppins';
  }

// divider section
.split-layout {
    display: flex;
    align-items: stretch;
    height: 100%; /* Ensure the content takes up the entire height */
  }
  .left-column {
    flex: 2.5; /* Left column takes 1/4th of the space */
    max-width: 41%; /* Set maximum width for left column */
  }
  
  .right-column {
    flex: 3; /* Right column takes 3/4th of the space */
  }
  .divider {
    width: 1px; /* Width of the divider line */
    background-color: #ccc; 
  }
  // end

  .borderBottom_background{
    border-bottom: 0.5px solid #ECECEC;
}
.borderBottom_background span{
    font-size: 12px;
    font-family: 'Poppins';
}

.filterButtons{
    font-family: 'Poppins';
    font-weight: 400;
    font-size:12px;
    color: #000000;
    text-transform: none;
    height: 35px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.backgroundLightColor{
    background-color: rgb(11, 122, 178, 0.1);
}


  .filteredChips ion-button{
    color: #0B7AB2;
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    border: 0.50px #0B7AB2 solid;
    border-radius: 4px;
    height: 26px;
    min-height: 26px;
  }

  .filteredChips{
    padding: 0 5px;
  }

  .filteredChips div{
    display: flex;
    overflow-x: scroll;
  }
  
  .selectOption{
    border-bottom:0.75px #ECECEC solid;
  }

.uniqueDuplcateCss ion-col p{
  font-size: 14px;
  color: #727272;
  border: 1px solid rgb(114, 114, 114);
  padding: 5px;
  border-radius: 34px;
}
.uniqueDuplcateCss{
padding:5px 5px 0 5px;
}

.addleadicon{
  font-size: 45px;
  color: #ffff;
  font-size: 25px;
  position: absolute;
  right: 8px;
  bottom: 115px;
  background-color: #2196F3;
  border-radius: 35px;
  padding: 5px;
  --ionicon-stroke-width: 60px;
}
.assigningLead{
  bottom: 0;
  background: white;
  width: 100%;
  border-radius: 10px;
  border-top: 1px solid #c2c5cf;
  // box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.2);
}
.assigncountleads ion-col{
  border: 1px solid #232323;
  border-radius: 23px;
  margin: 5px 0 5px 5px;
  font-size: 10px;
}
.assignLeadbutton{
  background: #0B7AB2;
  color: white;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
}
#assignLeads-modal ion-select::part(icon) {
  position: absolute !important;
  right: 10px !important;
}
#assignLeads-modal ion-select {
  padding-left: 5px !important;
}
ion-modal#assignLeads-modal {
  padding: 10px;
  --height: auto;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
::ng-deep ion-modal#assignLeads-modal .ion-page{
  display: block !important;
}

ion-modal#assignLeads-modal ion-icon {
 font-size: 20px;
}  

ion-modal#assignLeads-modal .wrapper {
  margin-bottom: 10px;
}
.assignTaskHeading{
  height: 42px;
  align-items: center;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  color: #0B7AB2;
  border-bottom: 1px solid rgb(72, 72, 72,0.78);
}
.data-row > div:nth-child(even) {
  background-color: #f2f2f2;
}

.data-row div{
  padding: 5px;
  ion-row{
    width: 100%;
    ion-col{
      padding: 0;
      font-weight: 400px;
      font-family: 'Poppins';
      font-size: 8px;
    }
  }
}
.single-lead {
  height: 50px;
}
.multiple-leads {
  height: 145px;
}
.paddingBottomLeft{
  padding-left: 0;
  padding-bottom: 0;
}
::ng-deep  p-dropdown.teamSelectDropdown .p-inputwrapper
{
  width: 100% !important;
}
::ng-deep  p-multiselect .p-inputwrapper
{
  width: 100% !important;
}
::ng-deep  p-dropdown.teamSelectDropdown .p-inputwrapper .p-dropdown-trigger
{
  width: 30px !important;
}
::ng-deep  p-multiselect .p-inputwrapper .p-multiselect-trigger
{
  width: 30px !important;
}
::ng-deep p-dropdown.teamSelectDropdown .p-inputwrapper .p-dropdown-trigger chevrondownicon{
  width: 12px !important;
}
::ng-deep p-multiselect .p-inputwrapper  .p-multiselect-trigger chevrondownicon{
  width: 12px !important;
}

::ng-deep .p-element .p-dropdown-item{
  padding: 5px !important;
}
::ng-deep .p-element .p-multiselect-item{
  padding: 5px !important;
}
::ng-deep p-multiselect .p-inputwrapper .p-multiselect-label-container .p-multiselect-label{
  padding: 5px;
  font-family: 'Poppins';
  font-size: 12px;
}

#teamSelectDropdown, #executiveDropdown {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 0;
}

::ng-deep p-dropdown .p-inputwrapper .p-dropdown-label{
    font-family: 'Poppins';
    font-size: 12px;
    padding: 5px;
}
ion-modal#viewAssignLeadDetail{
  padding: 10px;
  --height: auto;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.assignTaskHeading1{
  height: 42px;
  align-items: center;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500px;
  color: #0B7AB2;
}
.table-cell {
  padding: 8px;
  border-bottom: 1px solid #4398c3; 
  border-right: 1px solid #4398c3;
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins';
}
.table-header {
  font-weight: bold;
  background-color: #f1f1f1;
  color: #4398c3;
  border-top: 1px solid #4398c3; 
  border-left: 1px solid #4398c3;
  font-size: 12px;
  font-family: 'Poppins'; 
}


::ng-deep .custom-popover-height {
  .select-interface-option {
    line-height: 20px;
    --min-height: 0 !important;
  }
  .popover-viewport{
    max-height: 200px !important;
  }
}
.menu_icon{
  font-size: 30px;
  color: #0B7AB2;
}

ion-img.ion-filter-icon{
  float: right;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 65px;
}

::ng-deep p-calendar input{
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}
.date_range{
  display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 8px 4px;
    border-radius: 5px;
      border: 1px solid #ECECEC;
}
.date_range span{
  color:#8a8a8a;
  font-size: 3.4vw;
  font-family: 'Poppins';
}

::ng-deep .p-datepicker table td > span.p-highlight{
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}