.dateRange_btn_Css ion-col span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid rgb(190, 191, 200, 0.5);
  border-radius: 2px;
  font-size: 12px;
  color: #bebfc8;
  background: white;
}
.dateRange_btn_Css {
  height: 42px;
}
.dateRange_btn_Css ion-icon {
  width: 20px;
  height: 20px;
  padding: 4px;
  border: 1px solid rgb(190, 191, 200, 0.5);
  border-radius: 2px;
  font-size: 12px;
  color: #0b7ab2;
  background: white;
}
.dateRange_btn_Css ion-col {
  padding: 6px;
  //  border: 1px solid rgb(190, 191, 200, 0.5);
}
::ng-deep
  .dateTime_css
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger {
  width: 30px !important;
}
::ng-deep
  .dateTime_css
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 14px;
  color: #0b7ab2;
}

::ng-deep .dateTime_css p-dropdown .p-dropdown {
  width: 100%;
  background-color: #e0f1fe;
  border: 1px solid rgba(11, 122, 178, 0.5);
}

.dateTime_css p-dropdown {
  width: 100%;
}
.dateTime_css {
  display: flex;
  align-items: center;
}
::ng-deep .dateTime_css p-dropdown.exec_css .p-inputwrapper span {
  padding: 6px;
  font-size: 12px;
  font-family: "Poppins";
  color: #0b7ab2;
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}
.info-row-heading {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10px;
  color: rgb(0, 0, 0, 0.6);
}
.info-row-heading ion-col {
  padding-bottom: 0;
  padding-right: 0;
}
.lead-info {
  box-shadow: 1px 2px 10px 0 rgb(99, 99, 99, 0.2);
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin-bottom: 10px;
}
.info-row-value {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 10px;
  color: rgb(0, 0, 0, 0.8);
}
.info-row-value ion-col {
  padding-top: 0;
}
ion-item::part(native) {
  padding: 0;
  --inner-padding-end: 0 !important;
}

ion-img.ion-filter-icon {
  float: right;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 65px;
}

.menu_icon {
  font-size: 30px;
  color: #0b7ab2;
}
.filteredChips ion-button {
  color: #0b7ab2;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  border: 0.5px #0b7ab2 solid;
  border-radius: 4px;
  height: 26px;
  min-height: 26px;
}

// divider section
.split-layout {
  display: flex;
  align-items: stretch;
  height: 100%; /* Ensure the content takes up the entire height */
}
.left-column {
  flex: 2.5; /* Left column takes 1/4th of the space */
  max-width: 41%; /* Set maximum width for left column */
}

.right-column {
  flex: 3; /* Right column takes 3/4th of the space */
}
.divider {
  width: 1px; /* Width of the divider line */
  background-color: #ccc;
}
// end
.showresultButton {
  background: #0b7ab2;
  color: white;
  width: 70%;
  border-radius: 10px;
  text-transform: none;
  font-size: 16px;
  font-family: "Poppins";
}
.borderBottom_background {
  border-bottom: 0.5px solid #ececec;
}
.borderBottom_background span {
  font-size: 12px;
  font-family: "Poppins";
}
.startAssign .bg_textColor {
  border-radius: 44px;
}
.sideHeadings .bg_textColor {
  border-radius: 0;
  span {
    color: #ffff;
  }
}
.filterButtons {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: none;
  height: 35px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
::ng-deep p-calendar input {
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

::ng-deep .p-datepicker {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}
p-calendar {
  display: none !important;
}
.to-date-calendar,
.from-date-calendar {
  ion-img {
    width: 20px;
  }
  .calendar-div {
    border: 1px solid rgb(73 73 77 / 30%);
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    font-family: "Poppins";
  }
}
.isBeforeselectingDate {
  color: #b8b9ba;
  font-weight: 100;
}
.pointer_eventsNone {
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}
