.menu_icon{
    font-size: 30px;
    color: #0B7AB2;
  }

.activeHtype{
    border: 1px solid white;
    border-radius: 25px;
    background: #0B7AB2;
    color: white;
}
.retailMandate{
    border: 1px solid #0B7AB2;
    border-radius: 25px;
    color: #0B7AB2;
    width: 100%;
}
.blurred {
    filter: blur(1px);
    pointer-events: none;
    opacity: 0.6;
}
.propertyResourcesCss{
    position: relative;
    background-color: #ffffff;
    width: 100%; 
    margin-top: -15px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}
.info-row-heading{
    font-family: 'Poppins';
    font-weight:400;
    font-size:16px;
}
.info-row-heading ion-col{
    padding-bottom: 0;
    padding-right: 0;
}
.info-row-value{
    font-family: 'Poppins';
    font-weight:500;
    font-size:12px;   
    color: #727272;
    background-color: rgb(243 243 243);
}
.info-row-value ion-col{
    padding-top: 0;
}
::ng-deep .exec p-dropdown.exec_css .p-inputwrapper span{
    padding: 6px;
    font-size: 12px;
    font-family: 'Poppins';
}
::ng-deep .exec  p-dropdown.exec_css .p-inputwrapper{
    width: 100% ;
    background: #F3F3F3 ;
    height: 100%;
    border:0.5px #BEBFC8 solid ;
    border-radius: 2px;
  }
  ::ng-deep .exec p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger{
    width: 30px !important;
  }
  ::ng-deep .exec p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger chevrondownicon{
    width: 14px;
    // color: #727272; 
  }
  .custom-file-input {
    opacity: 0;
    position: absolute;
}

.custom-file-label {
    border: 0.5px #BEBFC8 solid;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.custom-file-label i {
    margin-right: 5px;
}
.first-row .custom-file-label ion-row ion-col:nth-child(2){
    display: flex;
    padding: 0;
    justify-content: space-around
}
.first-row .custom-file-label ion-row ion-col{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // width: 164px;
    display: block;
    padding: 0;
}
.second-row .custom-file-label ion-row ion-col:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1px;
    display: block;
    padding: 0;
}
.second-row .custom-file-label ion-row .replace_file_icon{
    padding-right: 4px;
    ion-img{
        width: 18px;
    }  
} 

.second-row .custom-file-label ion-row .close_icon{
    padding-right: 4px;
    ion-img{
        width:14px;
    }
} 
.text_nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.replace_file_icon{
    padding-right: 4px;
    ion-img{
        width: 20px;
    }
}
.close_icon{
    ion-img{
        width: 16px;
    }
}
.videoCss div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 84px;
}
.videoCss{
    padding:4px 5px;
    margin: 5px;
}
.floorPlanCss div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}
.eyeCloseIcon{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.textarea{
    padding: 4px;
    font-size: 12px;
    font-family: "Poppins";
    height: 114px;
    width: 100%;
    overflow-y: scroll;
    border: 0.5px #BEBFC8 solid;
}

.addPropertyBtn div{
    padding: 5px 10px;
    border: 1px solid;
    width: 100%;
    border-radius: 2px;
}
.bhkButtonStyle ion-col{
    padding: 2px;
}
.bhkButtonStyle div,ion-textarea {
    border: 0.5px #BEBFC8 solid;
    padding: 6px;
    border-radius: 2px;
    color:#727272;
}
.bhkButtonStyle div{
    background-color: rgb(243, 243, 243);
}

.addPropIcon{
    font-size: 45px;
    color: #ffff;
    font-size: 25px;
    position: absolute;
    right: 10px;
    bottom: 70px;
    background-color: #2196F3;
    border-radius: 35px;
    padding: 5px;
    --ionicon-stroke-width: 60px;
}
