
.chat_filters {
  display: flex;
  overflow-x: scroll;
  padding: 0 5px 5px 0;
  width: 100%;
  .add_icon,div{
    width: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 1);
    padding: 4px;
  }
  div{
     border-radius: 25px;
  }
  .search{
    border: 1px solid;
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
}

// .chat_filters {
//   padding-bottom: 5px;
//   ion-row {
//     gap: 5px;
//   }
//   ion-col {
//     font-size: 12px;
//     border-radius: 50px;
//     background: #FFFFFF;
// border: 0.8px solid #E4E4E4
//   }
//   ion-icon {
//     font-size: 16px;
//     color: #0b7ab2;
//   }
// }


.selectedUsers {
  white-space: nowrap;
  padding: 2px 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 1);
  margin: 4px;
  color: rgba(11, 122, 178, 1);
  font-size: 16px;
  font-family: 'Poppins';
}

.borderBottom {
  border-bottom: 1px solid rgb(219 217 217)
}

.chat-message-preview ion-row:first-child ion-col:first-child {
  span {
    font-size: 18px;
    font-family: 'Poppins';
    color: rgba(52, 52, 52, 1);
  }

  padding: 0 5px 0 5px;
}

.chat-message-preview ion-row:first-child ion-col:nth-child(2) {
  span {
    font-size: 12px;
    font-family: 'Poppins';
    color: rgba(106, 113, 117, 1);
  }

  padding: 0 4px 0 4px;
}

.chat-message-preview ion-row:nth-child(2) ion-col:first-child {
  padding: 0 0 0 5px;
}

.chat-message-preview ion-row:nth-child(2) ion-col:nth-child(2) {
  ion-img {
    width: 22px;
    height: 22px;
  }

  span {
    font-size: 12px;
    font-family: 'Poppins';
    color: rgba(106, 113, 117, 1)
  }

  padding-top: 0;
  padding-bottom: 0;
}

.msg-details ion-col:first-child ion-img {
  width: 44px;
}

.chat-container {
  position: relative;
}

.right-corner-img {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: auto;
  z-index: -1;
}

.left-corner-img {
  position: absolute;
  left: 30px;
  width: 30px;
  height: auto;
  z-index: -9;
}

.received-chat-card {
  /* padding: 5px; */
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 0;
  max-width: 250px;
  border-radius: 0 6px 6px 6px;
  background: rgb(255, 255, 255);
  /* margin-top: 10px; */
  position: relative;
  z-index: 0;
  max-width: 250px;
  /* border-radius: 6px 0 6px 6px; */
  float: right;
  line-height: 14px;
}

.send-chat-card {
  background: #d9fdd3;
  // margin-top: 10px;
  position: relative;
  z-index: 0;
  max-width: 250px;
  border-radius: 6px 0 6px 6px;
  float: right;
  line-height: 14px;
  margin-right: 9px;
  padding: 4px;
}

.sender-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-text {
  flex: 1;
  padding: 0;
}

.timestamp {
  font-size: 10px;
  font-family: 'Poppins';
  color: gray;
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 5px;
}

.message-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.bg-img {
  background-image: url('../../assets/CRMimages/chat-bg-img.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --background: none;
}

.profile-icon ion-icon {
  font-size: 40px;
}


.custom-textarea {
  width: 100%;
  // max-height: 100px; 
  overflow-y: auto;
}

::ng-deep .sc-ion-textarea-md-h {
  --padding-top: 0
}

ion-content::part(scroll) {
  padding: 0;
}

.chat-align {
  display: flex;
  align-items: flex-start;
}

.chat-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.profile-icon {
  font-size: 32px;
}

.sender-name {
  font-weight: 600;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}


.message-text {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  flex: 1;
}

.timestamp {
  font-size: 10px;
  color: #999;
  margin-left: 8px;
}

.fa-paper-plane {
  font-size: 18px;
  transform: rotate(50deg);
  background: rgb(11, 122, 178);
  padding: 8px;
  border-radius: 30px;
  color: white;
}

.verticleEllipsis ion-icon {
  background: rgba(11, 122, 178, 0.21);
  border-radius: 4px;
  padding: 4px 0;
}

.verticleEllipsis ion-icon {
  color: rgba(11, 122, 178, 1);
  font-size: 20px;
}

div.verticleEllipsis {
  padding: 4px;
}

.latest_message_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .action-sheet-button.sc-ion-action-sheet-md {
  min-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Poppins'
}

::ng-deep .action-sheet-title.sc-ion-action-sheet-md {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 31px;
  font-family: 'Poppins';
  color: rgb(11, 122, 178)
}

::ng-deep .action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel.sc-ion-action-sheet-md {
  color: rgb(11, 122, 178)
}

::ng-deep .action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel.sc-ion-action-sheet-md ion-icon {
  color: rgb(11, 122, 178)
}

::ng-deep .action-sheet-icon.sc-ion-action-sheet-md {
  color: rgb(11, 122, 178)
}


.attachment-panel {
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;

  ion-icon {
    color: var(--ion-color-primary);
    font-size: 28px;
  }

  div {
    font-size: 12px;
    margin-top: 4px;
  }

  ion-col {
    padding: 12px 0;
  }
}



::ng-deep .chatSearch .searchbar-input.sc-ion-searchbar-md {
  height: 34px;
}

.chatSearch {
  --border-radius: 25px;
  background: none;
}

::ng-deep .chatSearch .searchbar-search-icon.sc-ion-searchbar-md {
  top: 6px
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-wrapper {
  position: relative;
  width: 40px; // Adjust as needed
  height: 40px;
}

.chat-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offOnline {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 10;
}

.greenbgwhiteborder {
  background: green;
  border: 2px solid white;
}

.redbgwhiteborder {
  background: red;
  border: 2px solid white;
}

.newAndselect_popover ion-row {
  background: rgba(231, 244, 255, 1);
  border-bottom: 1px solid rgb(165 189 209);
}

.newAndselect_popover span {
  color: rgba(11, 122, 178, 1);
  font-size: 16px;
  font-family: 'Poppins'
}

.newAndselect_popover {
  --border-radius: 16px;
  --max-width: 55vw;
}

// .negzindex{
//   z-index: -9999;
// }

.newGpcreation ion-row {
  width: 100%;
}

.ion-checkbox .checkbox-wrapper::part(container) {
  background-color: rgba(11, 122, 178, 1);
  border: 0.5px solid rgba(11, 122, 178, 1);
}

.checkboxcss {
  --border-radius: 15px;
  --border-width: 1px;
  --size: 24px;
  --checkbox-background: rgba(225, 242, 255, 1);
  --border-color: rgba(11, 122, 178, 1);
  --checkbox-background-checked: rgba(11, 122, 178, 1);
}

.grpUserSelectedCount ion-row ion-col:first-child {
  font-size: 26px;
  color: rgba(52, 52, 52, 1);
}

.grpUserSelectedCount ion-row ion-col:first-child {
  span {
    font-family: 'Poppins';
    padding-left: 8px;
    color: rgba(114, 114, 114, 1);
  }
}

.grpUserSelectedCount ion-row ion-col:last-child ion-button {
  font-size: 20px;
  background: rgba(11, 122, 178, 1);
  border-radius: 2px;
  color: white;
  font-family: 'Poppins';
  text-transform: none;
}

.bg-color {
  background-color: lightgray;
}

.groupNaming {
  background-color: rgb(11, 122, 178, 0.1);
  height: 100vh;

  .group-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 4px;
    flex-direction: column;
  }

  .group-image-wrapper {
    border-radius: 87px;
    padding: 31px;
    background: rgba(193, 221, 235, 1);
    position: relative;
  }

  .group-image-wrapper ion-img {
    width: 76px;
    height: 76px;
  }

  .group-image-wrapper ion-icon {
    position: absolute;
    bottom: 4px;
    right: 3px;
    color: white;
    border-radius: 50%;
    padding: 8px;
    background: rgba(11, 122, 178, 1);
    font-size: 24px;
  }

  ion-input {
    border-radius: 2px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 0 5px !important;
    margin: 15px;
  }

  ion-button.activeSaveButton {
    width: 90%;
    font-size: 20px;
    padding: 1px;
  }
}

.video-wrapper {
  position: relative;
}

.video-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px black;
}

.group-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMemberSearch {
  --border-radius: 25px;
  background: none;
  --box-shadow: none;
  padding: 0;
}

.add_members {
  color: #0d7bb2;
  background: #bddbea;
  border-radius: 50px;
  border-radius: 50px;
  padding: 9px;
  font-size: 18px;
}

::ng-deep .addMemberSearch .searchbar-cancel-button {
  display: none !important;
}

::ng-deep .addMemberSearch .searchbar-input {
  padding: 5px !important;
}


.icon-button {
  font-size: 24px;
  cursor: pointer;
}

.search-wrapper {
  width: 100%;
  position: relative;
}

.add-members-label {
  font-size: 16px;
  font-family: 'Poppins';
  position: relative;
  z-index: 1;
  padding-left: 8px;
  line-height: 56px;
}

.searchbar-wrapper {
  position: absolute; // Overlay on top of label
  top: 2px;
  left: 0;
  right: 0;
  z-index: 2; // Above the label
  display: flex;
  align-items: center;
  background-color: white;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding-left: 8px;
  border-radius: 20px;
}

.searchbar-wrapper.slide-in {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  margin: 10px;
  // border: 1px solid rgb(165 189 209);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.searchbar-wrapper.slide-out {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.search-wrapper ion-icon {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}

ion-searchbar.addMemberSearch {
  flex: 1;
}

.member_removedText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member_removedText span {
  background: #f3ecec;
  padding: 5px;
}

.group-admin {
  background: #c6f3c6;
  border-radius: 3px;
  padding: 2px 5px;
}

.highlight-match {
  background-color: yellow;
  font-weight: bold;
}

.selected-match {
  background-color: rgba(189, 219, 234, 0.3) !important;
  border-radius: 4px !important;
  transition: background-color 0.5s ease !important;
}

.pointerEvent {
  opacity: 0.5;
  pointer-events: none;
}

.no-data-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(47 45 45 / 90%);
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff8f8;
  z-index: 1000;
  animation: fadeOut 0.5s ease-in-out forwards;
  animation-delay: 2s;
  font-family: 'Poppins';
}

.unreadChat_count {
  border: 1px solid;
  border-radius: 48px;
  height: 16px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: green;
  font-family: 'Poppins';
  justify-content: center;

  top: -7px;
  left: 23px;
  font-size: 9px;
  padding: 2px 4px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  z-index: 2;
  line-height: 1.2;

}

.long-pressed {
  background-color: #f0f0f0;
  /* example effect */
  border-left: 4px solid blue;
  margin: 2px 0;
}

.deleted_msg span {
  font-style: italic;
}

.ellipse_span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-modal#dialNumberModal {
  --height: auto --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 50px;
}

ion-modal#dialNumberModal::part(backdrop) {
  background: rgb(53 53 55) !important;
  opacity: 0.9 !important;
}

// #dialNumberModal ion-col{

//     padding: 5px 14px 0;
// }
.bgColorGreen {
  background-color: #33b53347;
}

.forwardmsg_addgroupmemb {
  position: absolute;
  left: 30px;
  top: 30px;
  --border-radius: 15px;
  --border-width: 1px;
  --size: 20px;
  --checkbox-background: rgb(35 123 23);
  --border-width: 2px;
  --border-color: white;
  --border-color-checked: white;
  --checkbox-background-checked: rgb(37 124 25);
}

.forward-text ion-col {
  padding: 0;
  font-size: 12px;
  font-size: 12px;
  color: #999;
  font-style: italic;
  text-transform: capitalize;
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  height: 10px;
}

.text-select {
  -webkit-user-select: auto;
}

ion-footer.bg-img {
  box-shadow: none;
}

.grow {
  align-items: flex-end !important;
}

.message-row {
  border: 1px solid #e1e4e7;
  border-radius: 18px;
  margin: 5px;
  padding: 4px;
  box-shadow: 0 0 0 0.2rem rgb(225 235 245 / 25%);
  background: white;
}

.message-row ion-textarea {
  padding: 4px 14px 4px 4px;
  max-height: 95px;
  --padding-bottom: 0;
  min-height: 0;
  border-radius: 4px;
}

.msg_send_icon {
  display: flex !important;
  align-items: flex-end;
  justify-content: center !important;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sender-message-bubble {
  margin-left: auto;

}

.sticky-date {
  position: sticky;
  top: 0;
  background: #eee;
  text-align: center;
  padding: 4px 8px;
  z-index: 10;
}

.chat-messages {
  height: 400px;
  overflow-y: scroll;
}

.group-nameChange-wrapper {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin-left: 15px;
  width: 80%;
  margin-top: 8px;
}

.action-row {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ECECEC;

  ion-col:first-child {
    border-right: 1px solid #ECECEC;
  }
}

.action-row ion-col {
  padding: 0;
}

.action-row ion-button {
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Poppins';
}

.group-nameChange-input {
  border: 1px solid #adb1b7;
  border-radius: 10px;
  --padding-start: 5px;
  font-family: 'Poppins';
  font-size: 14px;
}


::ng-deep ion-loading .loading-wrapper.sc-ion-loading-md {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none;
}

::ng-deep ion-loading ion-backdrop {
  opacity: 0.8 !important;
}

ion-loading {
  --spinner-color: white;
}

.disappear_24 {
  position: relative;
  left: 25px;
  bottom: 18px;
}

.disappear_date {
  padding: 5px 10px;
  background: #FDEFCC;
  border-radius: 5px;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}