.full-bg {
  --background: #f9f9f9;
  --padding-start: 0;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
}

.date-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.date-filter-row {
  width: 100%;
  background: white;
  border-radius: 2px;
}

.date-filter-item {
  background: #f9f9f9;
  border-radius: 2px;
}

.icon-button-container {
  background-color: white;
  padding: 0px;
  margin: 5px;
  border-radius: 2px;
}

.datefiltericon {
  width: 23px;
}

.icon-ion {
  font-size: 20px;
}

.date-time-row {
  background-color: rgba(240, 240, 240, 1);
  padding: 0 10px;
}

.checkin-card {
  background: white;
  margin: 10px;
  border-left: 4px solid #0b7ab2;
  border-radius: 2px;
}

.checkin-time-col {
  display: flex;
  align-items: center;
}

.time-icon {
  padding-right: 5px;
  font-size: 20px;
}

.checkin-time-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.checkin-status-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkin-status-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.location-icon {
  font-size: 20px;
}

.location-text {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.photo-icon-wrapper {
  width: 10vw;
  /* Or any size you want */
  height: 10vw;
  /* Same as width to force square */
  border-radius: 50%;
  /* Makes it a circle */
  overflow: hidden;
  /* Clips overflow */
  margin-left: 5px;
}

.photo-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filterButtons {
  border: 1px solid #0b7ab2;
  color: #282828;
  font-family: "Poppins";
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 4px;
  margin: 0;
  --padding-bottom: 0;
  --padding-end: 6px;
  --padding-start: 6px;
  --padding-top: 0;
  height: 20px;
  min-height: 32px;
}

ion-modal.checkInPreviewModal {
  --height: auto;
  --border-radius: 4px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}

.date ion-icon,
.time ion-icon,
.location-icon ion-icon {
  padding-right: 8px;
  font-size: 20px;
  color: #0b7ab2;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-family: "Poppins";
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  color: #0b7ab2;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper {
  width: 100% !important;
  border: 0.5px #0b7ab2 solid;
  border-radius: 4px;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}

::ng-deep
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
  color: #0b7ab2;
}

::ng-deep .exec_css .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}

.checkin-header {
  background: rgba(196, 255, 189, 1);
}

.checkin-title {
  color: rgba(10, 96, 0, 1);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-text {
  padding-right: 5px;
}

.checkin-icon {
  width: 25px;
}

.close-icon ion-icon {
  font-size: 32px;
}

.checkin-image-container {
  height: 55vw;
}

.checkin-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.checkin-content {
  padding: 5px;
}

.justify-end {
  justify-content: flex-end;
}

.work-summary-card {
  margin: 10px;
  background: white;
  padding: 4px;
  border-radius: 4px;
}

.summary-header {
  padding-bottom: 5px;
  line-height: 0.4;
  border-bottom: 0.8px dotted rgba(199, 199, 199, 1);
}

.summary-body {
  line-height: 0.4;
  padding-top: 5px;
}

.row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absent {
  color: rgba(182, 56, 68, 1);
  background: rgba(255, 194, 200, 1);
  border-radius: 2px;
  padding: 0 4px;
}

.summary-title {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.summary-subtitle {
  color: rgba(114, 114, 114, 1);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-img {
  width: 21px;
  padding-left: 5px;
}

.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.status-dot.online {
  background-color: #28a745; // green
}

.status-dot.offline {
  background-color: #dc3545; // red
}

.status-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}

::ng-deep p-calendar input {
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

::ng-deep .p-datepicker {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}
p-calendar {
  display: none !important;
}
.to-date-calendar,
.from-date-calendar {
  ion-img {
    width: 20px;
  }
  .calendar-div {
    border: 1px solid rgb(73 73 77 / 30%);
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    font-family: "Poppins";
  }
}

.isBeforeselectingDate {
  color: #b8b9ba;
  font-weight: 100;
}
.pointerEvent {
  opacity: 0.5;
  pointer-events: none;
}
.date-range-wrapper {
  padding: 20px 10px;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.date-inputs {
  display: flex;
  gap: 12px;
}

.date-box {
  flex: 1;
  background: #f6f9fc;
  border-radius: 8px;
  padding: 10px;
}

.date-box label {
  font-size: 12px;
  color: #8a8a8a;
  display: block;
  margin-bottom: 4px;
}

.date-box span {
  font-size: 14px;
  color: #000;
}

.confirm-btn {
  --border-radius: 24px;
  --background: #0b7ab2;
  min-height: 5px !important;
  width: 100%;
  padding: 0 10px;
  font-family: "Poppins";
}

::ng-deep.confirm-btn::part(native) {
  padding: 12px;
}
.error-text {
  font-size: 12px;
  font-family: "Poppins";
  color: red;
}

ion-datetime {
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
}

ion-datetime::part(calendar) {
  width: 100% !important;
  height: 100% !important;
}

ion-modal {
  --backdrop-opacity: 1.4;
}
