/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/primeng.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// @font-face {
//     font-family: 'Poppins';
//     src: url('https://duzblbyuf5ibr.cloudfront.net/version9.0/fonts/poppins/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     /* font-display: swap; */
//   }

body.force-light ion-header::part(background),
body.force-light ion-toolbar::part(background) {
  background: #f0f6fb !important;
}
* {
  font-family: "Poppins";
}
.logo::part(image) {
  border-radius: 3px !important;
  width: 30px;
  height: 30px;
}
.content_center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.paddingZero {
  padding: 0 !important;
}
.marginZero {
  margin: 0;
}
.height_Width_100 {
  height: 100%;
  width: 100%;
}
:host(.select-label-placement-start) .select-wrapper {
  flex-direction: row;
  justify-content: center;
}
.mainHeading {
  border-bottom: 1px solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.ion-text-center {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* horizontal line */
.custom-divider-row {
  display: flex;
  align-items: center;
}

.custom-divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ececec;
  margin: 0 8px;
}
.todayDate {
  opacity: 0.75;
  color: black;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}
// horizontal line end

//style for all And Today Visited Data fetching
.todayAndAllVisitsData {
  border-radius: 4px;
  border: 0.75px solid rgba(236, 236, 236, 0.8);
  background: rgba(248, 248, 248, 0.24);
  margin: 15px;
}
.todayAndAllVisitsData ion-row {
  display: flex;
  width: 260px;
  align-items: flex-start;
  width: 100%;
}

.custom-row-style {
  width: 100%;
  height: 100%;
  background: #3498db;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: auto;
  align-items: center !important;
}
.custom-text {
  color: white;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 5px;
  opacity: 0.8;
}

.highlight-text {
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  padding: 3px;
}

.font-weight400 {
  font-weight: 400;
}
.font-weight300 {
  font-weight: 300;
}
.font-weight500 {
  font-weight: 500;
}
.font-weight600 {
  font-weight: 600;
}
.font-colorGray {
  color: #727272;
}
.font-colorBlack {
  color: #080808;
}
.font-colorWhite {
  color: white;
}
.text_color_red {
  color: red !important;
}
.font-colorBlue {
  color: #0b7ab2 !important;
}
.text_color_green {
  color: green;
}
.font-familyPoppins {
  font-family: Poppins;
}

.marginTop10 {
  margin-top: 10px;
}
.margin-top-16 {
  margin-top: 16px;
}

.selectedDropdown ion-select::part(icon) {
  color: white !important;
}
::ng-deep ion-select #select-label {
  position: absolute !important;
  margin-left: 10px !important;
}
.custom-loading-class {
  font-size: 20px;
  --background: #e3edff;
  --spinner-color: #1c6dff;
  color: #1c6dff;
  border-radius: 10px;
}
ion-radio.radio-checked::part(container) {
  border-color: #0b7ab2;
  --color-checked: #0b7ab2;
}

ion-radio {
  --color-checked: "";
}

.marginBottom15px {
  margin-bottom: 15px;
}
.center-vertically {
  display: flex !important;
  align-items: center !important;
}

.bg_color_blue {
  background: #e0f1ff;
}
.font-size10-familyPoppins {
  font-size: 10px;
  font-family: "Poppins";
}

.font-size12-familyPoppins {
  font-size: 12px !important;
  font-family: "Poppins" !important;
}
.font-size14-familyPoppins {
  font-size: 14px !important;
  font-family: "Poppins" !important;
}
.font-size16-familyPoppins {
  font-size: 16px !important;
  font-family: "Poppins" !important;
}
.font-size20-familyPoppins {
  font-size: 20px !important;
  font-family: "Poppins" !important;
}
.text_color_blue {
  color: #004568;
}

.custom-textArea .native-wrapper {
  padding: 8px;
}
.custom-textArea ion-textarea {
  height: 80px;
  border-radius: 4px;
  padding: 0;
  border: 0.75px #ececec solid;
  --padding-top: 0;
  font-family: "Poppins";
  font-size: 14px;
}

.activeSaveButton {
  background: #0b7ab2 !important;
  color: white !important ;
  text-transform: none;
  font-family: "Poppins";
  border-radius: 3px;
}
.normal_btn {
  border: 1px solid #d8d8d8;
  color: #5b6a83;
  box-shadow: 0px 2px 10px 0px rgba(124, 124, 124, 0.2);
}
.active_btn {
  background: #0b7ab2 !important;
  box-shadow: 0px 0px 16px 0px #0000001f;
  color: #ffffff !important;
}
.datefilter-div {
  ion-row {
    gap: 5px;
  }
  ion-col {
    font-size: 0.875rem;
    border-radius: 4px;
  }
  ion-icon {
    font-size: 16px;
    color: #0b7ab2;
  }
}
.bg_textColor {
  background: #0b7ab2 !important;
  color: white !important ;
}
.backgroundLightColor {
  background-color: #84c5e575 !important;
  color: #0b7ab2 !important;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0.6;
  background-color: black !important ;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg_border_color {
  border: 1px solid #959da533;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
}

.date-input {
  position: relative;
  width: 100%;
  border: 1px #ececec solid;
  border-radius: 4px;
}
.active_text_borederColor {
  border: 1px solid #0b7ab2 !important;
  color: #0b7ab2 !important;
}
.text_borderColor {
  border: 1px solid #d8d8d8;
  color: #5b6a83;
}

.date-input ion-input,
.date-input input {
  --placeholder-color: #black;
  color: #727272;
  padding-left: 5px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  height: 16px;
  word-wrap: break-word;
  --padding-start: 10px;
}
.date-input {
  position: relative;
  width: 100%;
  border: 1px #ececec solid;
  border-radius: 4px;
}
div.date-input {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
}
.input-with-image ion-input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("./assets/CRMimages/calendar-edit-outline.png") no-repeat
    center;
  background-size: contain;
}

.inputTime-with-image ion-input::after,
.inputTime-with-image div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("./assets/CRMimages/timeclockicon.png") no-repeat center;
  background-size: contain;
}
.swal2-container button:where(.swal2-styled).swal2-confirm {
  background-color: #0b7ab2 !important;
}
.textBorderColor {
  color: #0b7ab2;
  border: 1px solid #0b7ab2 !important;
  border-radius: 30px;
}

.textBgColor {
  background: #0b7ab2 !important;
  color: white !important;
}
.menu_icon {
  font-size: 30px;
  color: #0b7ab2;
}

mark {
  background-color: yellow;
  padding: 0 2px;
  border-radius: 2px;
}

.highlight-number {
  text-decoration: underline;
  color: #0b7ab2;
  font-weight: 600;
  font-size: 12px;
  font-family: "Poppins";
}

.clickable-number {
  cursor: pointer;
}

.custom-toast {
  --max-width: 200px !important;
  --max-height: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Poppins";
}

.chat-highlight {
  background-color: transparent;
  font-weight: bold;
  color: green;
  padding: 0;
}

@supports (inset-inline-start: 0) {
  ion-searchbar .searchbar-search-icon.sc-ion-searchbar-md {
    inset-inline-start: 8px !important;
  }
}

div:where(.swal2-container) div:where(.swal2-actions) {
  width: 100% !important;
}

.callDisconnectedBg_color {
  background: linear-gradient(180deg, #f68e8e -66.17%, #b40101 100%);
}
.callConnectedBg_color {
  background: linear-gradient(180deg, #29a71a 0%, #00713a 100%);
}
.p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e193ff;
  border-radius: 4px;
  padding: 2px;
  margin-left: 6px;
}
.vertical_ellipse {
  background: #00476a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px;
  margin-left: 6px;
}
.border_colorRed {
  border: 1px solid red;
  border-radius: 3px;
}
