* {
  font-family: "Poppins";
}
// UPDATE CODE
.datefilter-div {
  margin: 10px 5px;
}
.datefilter-div ion-col {
  border-radius: 50px;
  background-color: white;
  font-size: 0.75rem !important;
}
.datefilter-div ion-icon {
  border-radius: 20px;
  font-size: 1.375rem;
  color: #515151;
  --ionicon-stroke-width: 14px;
}
.error-text {
  font-size: 0.875rem;
  font-family: "Poppins";
  color: red;
}
ion-datetime {
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
}

ion-datetime::part(calendar) {
  width: 100% !important;
  height: 100% !important;
}
.custom-datefilterIcon.active_btn {
  ion-icon {
    color: white;
  }
}
.total_card {
  border: 1px solid #02abff;
  background: #c3eaff;
  .text_color {
    color: #0b7ab2;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  font-size: 0.714rem;
}
h2 {
  font-weight: 500;
  font-size: 1.15rem;
}
.icon-circle {
  ion-img {
    width: 30px;
  }
  display: flex;
  align-items: center;
  justify-content: end;
  ion-icon {
    font-size: 18px;
    color: #4da3ff;
  }
}

.leads_card {
  background: linear-gradient(81.85deg, #ffffff 48.93%, #ffe4e1 106.84%);

  h2 {
    color: #73322d;
  }
  .active-col {
    background: #fff6f5;
    border-color: #a87773;
  }
  border-color: #a87773;
}
.visits_card,
.booked_card {
  background: linear-gradient(90deg, #ffffff 40.27%, #dbd8ff 124.1%);
  h2 {
    color: #392ca0;
  }
  .active-col {
    background: #d8d3ff;
    border-color: #8576ff;
  }
}

.opacity50 {
  opacity: 50%;
}

.active-card.leads_card {
  border: 1px solid #a97975;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.active-card.visits_card,
.active-card.booked_card {
  border: 1px solid #8576ff;
  box-shadow: 0px 2px 3.1px 0px #959da533;
}
.border-right {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid;
}
.border-left {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid;
}
.border-top-bottom {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.border-left-right {
  border-radius: 4px 4px;
  border-left: 1px solid;
  border-right: 1px solid;
}
.topsec-border-right-bottom {
  border-radius: 0 0 4px 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.topsec-border-left-bottom {
  border-radius: 0 0 0 4px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}
.bottomsec-border-left-top {
  border-radius: 4px 0 0 0;
  border-top: 1px solid;
  border-left: 1px solid;
}
.bottomsec-border-bottom-none {
  border-radius: 4px 4px 0 0;
  border: 1px solid;
  border-bottom: none;
}

.bottomsec-border-top-right {
  border-radius: 0 4px 0 0;
  border-top: 1px solid;
  border-right: 1px solid;
}
.topsec-border-top-none {
  border-radius: 0 0 4px 4px;
  border: 1px solid;
  border-top: none;
}

.visits_card_img {
  position: absolute;
  right: 4px;
  top: 4px;
}

.latestRemark ion-label {
  color: #000000b5;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.latestRemark p {
  padding: 5px;
  color: black;
  font-family: Poppins;
  font-size: 9px;
}
.custom-ion-item {
  padding: 0;
  height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  --inner-item-padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-item-padding-bottom: 0;
  padding-right: 5px;
  padding-left: 4px;
  --inner-padding-end: 0;
}

::ng-deep ion-item ion-icon {
  font-size: 15px;
}

ion-item::part(native) {
  --inner-padding-end: 0 !important;
  --padding-start: 0 !important;
}

ion-modal.callConfirmationModal {
  padding: 10px;
  --height: 40%;
  --border-radius: 5px;
  --backdrop-opacity: 0.8;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.callConfirmationModal ion-header {
  font-family: "Poppins";
  box-shadow: none;
  ion-row {
    padding: 4px;
  }
  h3,
  ion-icon {
    font-size: 18px;
    color: #ffffff !important;
  }
  ion-icon {
    font-size: 30px;
  }
}

.callConfirmationModal ion-button {
  width: 100%;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 18px;
  text-transform: none;
}
.callConfirmationModal ion-footer {
  box-shadow: none;
}
.value {
  color: rgba(0, 0, 0, 0.8);
}
.custom-row {
  border-bottom: 1px solid rgba(100, 100, 111, 0.05);
  box-shadow: 1px -2px 7.3px 0px rgba(157, 126, 126, 0.2588235294);
}
.custom-col {
  padding: 5px;
  font-size: 14px;
  font-family: "Poppins";
  flex-shrink: 0;
  cursor: pointer;
}
.highlightedprop-text {
  background: linear-gradient(180deg, #ffffff 0%, #d3ebff 100%);
  border: none !important;
  border-bottom: 1px solid #1366a5 !important;
  color: #1365a4;
  font-weight: 400;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-family: "Poppins";
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  color: #0b7ab2;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper {
  width: 100% !important;
  border: 0.5px #0b7ab2 solid;
}
::ng-deep p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}
::ng-deep
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
  color: #0b7ab2;
}
::ng-deep .exec_css .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}
.sourcedropdown {
  margin-left: 2px;
}
ion-modal.dashboard_custDate_modal::part(content),
ion-modal.filter_modal::part(content) {
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.calendar-modal {
  background: white;
}
ion-modal {
  --backdrop-opacity: 2.9;
  // --height: auto;
}
ion-modal.filter_modal {
  --backdrop-opacity: 0.7;
}

.date-range-wrapper {
  padding: 20px 10px;
}
.date-inputs {
  display: flex;
  gap: 12px;
}

.date-box {
  flex: 1;
  background: #f6f9fc;
  border-radius: 8px;
  padding: 10px;
}

.date-box label {
  font-size: 12px;
  color: #8a8a8a !important;
  display: block;
  margin-bottom: 4px;
}

.date-box span {
  font-size: 14px;
  color: #000;
}

.confirm-btn {
  --border-radius: 24px;
  --background: #0b7ab2;
  min-height: 5px !important;
  width: 100%;
  padding: 0 10px;
}

::ng-deep.confirm-btn::part(native) {
  padding: 12px;
}
.filterButtons {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: none;
  height: 35px;
  margin-bottom: 0;

  color: #0b7ab2;
}

ion-button::part(native) {
  border: 1px solid #0b7ab2;
}
.firstRecivedDate {
  font-size: 0.517rem;
  font-style: italic;
  border-top: 1px solid #8a8a8a;
}
.lead_date_btn {
  color: #5b6a83;
  span {
    font-size: 0.8rem;
  }
}

.assignies-row {
  background: #3498db;
  .assignies-col {
    background: #006ab1;
    color: white;
    border-radius: 4px;

    line-height: 1.3;
    display: flex;
    flex-direction: column;
    padding: 2px 6px;
    .name {
      font-size: 0.8rem;
      font-weight: 500;
    }
    .assign-date {
      font-size: 0.58rem;
      font-weight: 300;
    }
  }
}
.name {
  font-size: 0.8rem;
}

.call-icon,
.whatsapp-icon,
.play_icon,
.info-icon {
  ion-img {
    width: 20px;
  }
}
.latest_remark_col {
  background: #546d7e;
  border-radius: 0 4px 4px 4px;
  span {
    color: white;
    font-size: 0.9rem;
  }
}
.pointer_eventsNone {
  filter: blur(0.8px);
  pointer-events: none;
  cursor: none;
}

.divider-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-remark-popover::part(content) {
  width: auto;
}
.assigned-exec-count::part(content) {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

::ng-deep .assigned-exec-count .popover-viewport {
  display: flex;
  align-items: center;
  padding: 10px 5px 3px;
}
.assigned-exe-col {
  border: 0.4px solid #1f79a7;
  background: #dbf3ff;
  border-radius: 4px;
  padding: 0 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #00334c;
}
.assign-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(52, 152, 219);
  border-radius: 48px;
  span {
    color: #3498db;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
.assignies-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4px;
  flex-wrap: wrap; /* responsive wrap */
}

.assignies-col {
  display: flex;
  flex-direction: column;
  white-space: nowrap; /* width based on text */
}

.divider-col {
  display: flex;
  align-items: center;
}

.horizontal-line {
  width: 20px;
  height: 1px;
  background: #c4c4c4;
}

.virtical-line {
  width: 1px;
  height: 10px;
  background: #0a0a0a;
}
.assign-count {
  font-weight: 600;
  white-space: nowrap;
  width: 1.5rem;
  height: 1.5rem;
}

.assignto-text {
  background: white;
  color: #006ab1;
  border-radius: 0 4px 4px 0;
  padding: 0 2px;
  font-size: 0.8rem;
}
.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}

.filter_modal {
  padding-top: 72px;
  .header {
    padding: 10px 0 0 9px;

    p {
      font-weight: 500;
      font-size: 1.28rem;
    }
  }
  h3 {
    font-size: 0.9rem;
  }
  ion-content {
    --background: #f5f7fa;
  }
  .date-box {
    background: none;
    border: 1px solid #dde4ee;
    border-radius: 4px;
    padding: 6px;
  }
  .date-inputs {
    gap: 0 !important;
  }
  .apply {
    background: #0b7ab2;
    color: white;
    border-radius: 30px;
    margin: 6px;
  }
  .clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      font-size: 24px;
      background: white;
      border-radius: 4px;
    }
  }
}
.filter-icon {
  color: #0b7ab2;
}
.filter_modal::part(content) {
  --background: #f5f7fa;
}
/* Transparent modal background */
.filter-glass-modal::part(content) {
  background: transparent;
  box-shadow: none;
}

/* Blur backdrop */
.filter-glass-modal {
  --backdrop-opacity: 0.25;
  backdrop-filter: blur(6px);
}

/* Main card */
.filter-wrapper {
  background: #fff;
  border-radius: 20px;
  margin: 16px;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
}

/* Header */
.filter-header {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
}

/* Body */
.filter-body {
  flex: 1;
  display: flex;
}

/* Left menu */
.left-menu {
  width: 35%;
  background: #f5f7fa;
  padding: 12px;
}

.left-menu p {
  padding: 10px;
  margin: 0;
  border-radius: 8px;
}

.left-menu .active {
  background: #e6f1ff;
  font-weight: 600;
}

/* Right content */
.right-content {
  flex: 1;
  padding: 12px;
}

/* Footer */
.filter-footer {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-footer .clear {
  color: #666;
  cursor: pointer;
}

.left-sec-highlight {
  background: #ffffff;
}
.label {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 0.714rem;
}
